<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023915973562-kp5a2u65f8uehh1cd1953v5ttu5mtk39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023915973562-kp5a2u65f8uehh1cd1953v5ttu5mtk39</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1023915973562-05dpiespbah11it5ugbpqj6ankgbr3r0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmZHY60vHw-DphnzcygODJ9HbEEielm3k</string>
	<key>GCM_SENDER_ID</key>
	<string>1023915973562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.todo</string>
	<key>PROJECT_ID</key>
	<string>react-native-todo-a644a</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-todo-a644a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023915973562:ios:4c65f625a46712d4cfdb83</string>
</dict>
</plist>